
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: rgb(236, 76, 138);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backArrow{
  color: white;
  padding-left: 1.5rem;
}

.icons{
  padding-right: 1.5rem;
  display: flex;
  gap: 0.5rem;
}
